<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informasi</title>
    <link rel="stylesheet" href="output.css">
</head>
<body class="no-scrollbar">
<div class="w-full h-screen fixed">
        <img src="./images/mg.png" alt="" class="w-full h-full object-cover">
</div>
<div class="fixed top-0 left-0 right-0 p-4 z-10">
    <div class="bg-[#7F5539] rounded-2xl p-4 ">
        <nav class="flex items-center justify-center">
            <!-- Navigation Links -->
            <div class="flex space-x-4 md:space-x-14">
                <a href="./Daftar.html" 
                class="font-jakarta font-bold text-white hover:text-gray-700">DAFTAR</a>
                <a href="./Informasi.html" 
                class="font-jakarta font-bold text-white hover:text-gray-700">INFORMASI</a>
                <a href="./rundown.html" 
                class="font-jakarta font-bold text-white hover:text-gray-700">RUNDOWN</a>
                <a href="#" 
                class="font-jakarta font-bold  text-white hover:text-gray-700">DATA</a>
            </div>
        </nav>
    </div>
</div>
<div class="  w-full h-screen flex items-center  justify-center">
    <div class="w-full  max-w-xs lg:max-w-3xl absolute">
        
        <div class="bg-[#DDB892]  border-2 shadow-md rounded-2xl px-9 pt-8 mt-60 lg:mt-36 mb-10 pb-8">
            <div class="mb-4 ">
                <h1 class="text-center  text-white text-3xl font-extrabold font-jakarta  mb-8">INFORMASI</h1>
                <H1 class="">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem nesciunt, magni quod aperiam nobis odio fuga vel sit possimus itaque, repudiandae beatae? Dolorem nihil hic vero illo sit facilis delectus magni repellat corporis amet enim reiciendis necessitatibus qui, praesentium, debitis nemo molestiae odio eius, adipisci saep Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid cumque nemo modi ipsum miniisicing elit. Illo quo libero facere soluta quasi veritatis quis numquam ratione molestias. Delectus. 
                </H1>
                
            </div>
            <iframe class="mt-5  self-end lg:w-[605px]" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.160154335526!2d110.41738651029307!3d-6.990409368430085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e708b5bd8cd9251%3A0x552f32390f4f9eb4!2sSMK%20Negeri%208%20Semarang!5e0!3m2!1sen!2sid!4v1708680115389!5m2!1sen!2sid" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
</body>
</html>